.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.bg_box {
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    transition: 0.5s;
    opacity: 0.5;
}


