.nav_links_main {
    margin: 20px 0 25px 25px;
    display: flex;
}


.link_section {
    display: flex;
    position: relative;
    left: -420px;
    transition: 0.5s;
}

.link_section:hover {
    left: 0px;
    transform-origin: -420px;
    transition: 0.5s;
}


.junior_link {
    width: 120px;
    height: 30px;
    outline:    1px solid black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    width: 70px;
    height: 30px;
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

